 <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Headers</label>
                                <select class="w3-select" ng-model="menuItem.header" ng-options="header.title for header in headers"><select>
                                </div>
                                <div class="form-group">
                                    <label>name</label>
                                    <input type="text" class="form-control" placeholder="product name" required ng-model="menuItem.name" />
                                </div>
                                <div class="form-group">
                                    <label class="w3-label">description</label>
                                    <textarea class="form-control" placeholder="product description" ng-model="menuItem.description" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="text" class="form-control" placeholder="product price" required ng-model="menuItem.price" />
                                </div>
                               

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                              
                                <div class="form-group">
                                    <label>header name</label>
                                    <input type="text" class="form-control" placeholder="Header" required ng-model="menuHeader.title" />
                                      <p>{{title}}</p>
                                <button type="button" ng-click="addMenuHeader(menuHeader)" ng-disabled="item.isReady || item.isUploading || item.isSuccess"
                                    class="btn btn-info">Add Menu Header</button>
                                </div>
                              

                         
                                <label>product Image</label>
                                <input type="file" nv-file-select uploader="uploader" placeholder="product image" /><br/>
                            </div>
                            <div class="form-group" ng-repeat="item in uploader.queue">
                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 200 }"></div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="30%">Name</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td ng-model="fileName">
                                                <strong>{{ item.file.name }}</strong>
                                                <!-- Image preview -->
                                                <!--auto height-->
                                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                                <!--auto width-->

                                                <!--fixed width and height -->
                                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                            </td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>







                        </div>
                    </div>