 <i ng-click="editListItem(header,product,$index)" data-toggle="modal" data-target="#odal" class="fa fa-edit"></i>
<div ng-controller="ProfileCtrl" class="modal fade" id="odal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="removeListItem(editProduct)" class="close" data-dismiss="modal" aria-label="Close"><i data-dismiss="modal" data-toggle="modal" data-target="#editModal" class="fa fa-trash"></i></button>
                <h4 class="modal-title" id="myModalLabel">Add Product</h4>
            </div>
            <div class="modal-body">
                <form name="productItem" ng-submit="add(editProduct)">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Headers</label>
                                <select class="w3-select" ng-model="editProduct.header" ng-options="header.title for header in headers"><select>
                                </div>
                                <div class="form-group">
                                    <label>name</label>
                                    <input type="text" class="form-control" placeholder="product name" required ng-model="editProduct.name" />
                                </div>
                                <div class="form-group">
                                    <label class="w3-label">description</label>
                                    <textarea class="form-control" placeholder="product description" ng-model="editProduct.description" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="text" class="form-control" placeholder="product price" required ng-model="editProduct.price" />
                                </div>
                               

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                              
                                <div class="form-group">
                                    <label>header name</label>
                                    <input type="text" class="form-control" placeholder="Header" required ng-model="menuHeader.title" />
                                      <p>{{title}}</p>
                                <button type="button" ng-click="menuList.addMenuHeader(menuHeader)" ng-disabled="editProduct.isReady || editProduct.isUploading || editProduct.isSuccess"
                                    class="btn btn-info">Add Menu Header</button>
                                </div>
                              

                         
                                <label>product Image</label>
                                <input type="file" nv-file-select uploader="uploader" placeholder="product image" /><br/>
                            </div>
                            <div class="form-group" ng-repeat="item in uploader.queue">
                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: editProduct._file, height: 200 }"></div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="30%">Name</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td ng-model="fileName">
                                                <strong>{{ editProduct.file.name }}</strong>
                                                <!-- Image preview -->
                                                <!--auto height-->
                                                <!--<div ng-thumb="{ file: editProduct.file, width: 100 }"></div>-->
                                                <!--auto width-->

                                                <!--fixed width and height -->
                                                <!--<div ng-thumb="{ file: editProduct.file, width: 100, height: 100 }"></div>-->
                                            </td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ editProduct.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': editProduct.progress + '%' }"></div>
                                                </div>
                                            </td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>







                        </div>
                    </div>



                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  data-dismiss="modal" ng-click="updateListItem(editProduct)">Update Item</button>
            </div>
        </div>
    </div>
</div>