<style>
    canvas {
        background-color: #f3f3f3;
        -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
        -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
        box-shadow: 3px 3px 3px 0 #e3e3e3;
        border: 1px solid #c3c3c3;
        height: 100px;
        margin: 6px 0 0 6px;
    }
</style>
<div>
    <div class="row">
        <div class="panel col-md-12">
            <div class="panel-heading">

                <button class="btn btn-default btn-sm" ng-click="toggles()">
                        <i class="glyphicon glyphicon-plus"></i> 
                    </button>
            </div>
            <div class="panel-body" ng-hide="toggle">
                <form ng-show="form" name="addListForm" ng-submit="addListItem(menuItem)">


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Headers</label>
                                <select class="w3-select" ng-model="menuItem.header" ng-options="header.title for header in headers"><select>
                                </div>
                                <div class="form-group">
                                    <label>name</label>
                                    <input type="text" class="form-control" placeholder="product name" required ng-model="menuItem.name" />
                                </div>
                                <div class="form-group">
                                    <label class="w3-label">description</label>
                                    <textarea class="form-control" placeholder="product description" ng-model="menuItem.description" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="text" class="form-control" placeholder="product price" required ng-model="menuItem.price" />
                                </div>
                                <div class="form-group">
                                    <label>product Image</label>
                                     <input type="file" nv-file-select uploader="uploader" placeholder="product image" /><br/>
                                </div>
                               

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                              
                                <div class="form-group">
                                    <label>header name</label>
                                    <input type="text" class="form-control" placeholder="Header" required ng-model="menuHeader.title" />
                                      <p>{{title}}</p>
                                <button type="button" ng-click="addMenuHeader(menuHeader)" ng-disabled="item.isReady || item.isUploading || item.isSuccess"
                                    class="btn btn-info">Add Menu Header</button>
                                </div>
                         
                                
                            </div>
                            <div class="form-group" ng-repeat="item in uploader.queue">
                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 200 }"></div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="30%">Name</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td ng-model="fileName">
                                                <strong>{{ item.file.name }}</strong>
                                                <!-- Image preview -->
                                                <!--auto height-->
                                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                                <!--auto width-->

                                                <!--fixed width and height -->
                                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                            </td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </form>

                <form id="editForm" ng-hide="form" name="productItem" ng-submit="add(editProduct)">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Headers</label>
                                <select ng-disabled="true" class="w3-select" ng-model="editProduct.header" ng-options="header.title for header in headers"><select>
                                </div>
                                <div class="form-group">
                                    <label>name</label>
                                    <input type="text" class="form-control" placeholder="product name" required ng-model="editProduct.name" />
                                </div>
                                <div class="form-group">
                                    <label class="w3-label">description</label>
                                    <textarea class="form-control" placeholder="product description" ng-model="editProduct.description" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="text" class="form-control" placeholder="product price" required ng-model="editProduct.price" />
                                </div>
                               

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                                      
                               <label>product Image</label>
                                <input type="file" nv-file-select uploader="uploader" placeholder="product image" /><br/>
                            </div>
                            <div class="form-group" ng-repeat="item in uploader.queue">
                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: editProduct._file, height: 200 }"></div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="30%">Name</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td ng-model="fileName">
                                                <strong>{{ editProduct.file.name }}</strong>
                                                <!-- Image preview -->
                                                <!--auto height-->
                                                <!--<div ng-thumb="{ file: editProduct.file, width: 100 }"></div>-->
                                                <!--auto width-->

                                                <!--fixed width and height -->
                                                <!--<div ng-thumb="{ file: editProduct.file, width: 100, height: 100 }"></div>-->
                                            </td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ editProduct.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': editProduct.progress + '%' }"></div>
                                                </div>
                                            </td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>







                        </div>
                    </div>



                </form>
                <hr>
                <button ng-show="form" type="button" class="btn btn-primary pull-right" ng-disabled="editForm.$invalid" data-dismiss="modal"
                    ng-click="addListItem(menuItem)">Add Item</button>

                <button ng-hide="form" type="button" class="btn btn-primary pull-right" ng-disabled="editForm.$invalid" data-dismiss="modal"
                    ng-click="updateListItem(editProduct)">Update Item</button>
             
            </div>
         

            <div>
                <div class="w3-responsive">
                    <table class="w3-table  w3-card-4" cellspacing="0" cellpadding="3" border="0">
                        <thead>
                            
                            <tr>

                                <th>pic</th>
                                <th>Product name</th>
                                <th>Description</th>
                                <th>Header</th>
                                <th>Price</th>
                                <th>Edit</th>

                                      <th>remove</th>


                            </tr>
                        </thead>
                        <tbody ng-repeat="header in headers">
                            <tr ng-repeat="product in header.childList ">



                                <td id="number#">
                                    <div class="w3-image"> <img src="{{product.imageUrl}}" class="img-circle" height="65" width="65" alt="Avatar"
                                        /></div>
                                </td>
                                <td id="productName">{{product.name}}</td>
                                <td id="productDescription">{{product.description}}</td>
                                <td id="productHeader">{{header.title}}</td>
                                <td id="productPrice">{{product.price}}</td>

                                <td id="editProduct">
                                     <i ng-click="editListItem(header,product,$index)"  class="fa fa-edit"></i>
                                </td>
                                    <td id="deleteProduct">
                                    <i ng-click="removeListItem(header,product,$index)"  class="fa fa-remove"></i>

                                </td>



                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>