                <div ng-show="error" class="w3-panel w3-red w3-round">{{error.message}}</div>
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-half">
                        <label class="w3-label">Business Name</label>
                        <input class="w3-input w3-border" type="text" name="name" placeholder="required" required ng-model="business.name">
                        <span class="error" ng-show="registerForm.name.$dirty && registerForm.name.$error.required">Business name is required</span>
                    </div>
                    <div class="w3-half">
                        <label class="w3-label">Address</label>
                        <textarea class="w3-input w3-border" name="address" placeholder="required" ng-model="business.address" rows="5" id="comment"></textarea>
                    </div>
                </div>
                <div class="w3-group">
                    <label class="w3-label">Mobile number</label>
                    <input class="w3-input w3-border" name="mobileNo" type="text" placeholder="{{business.phone}}" required ng-model="business.phone"
                    />
                    <span class="error" ng-show="registerForm.mobileNo.$dirty && registerForm.mobileNo.$error.required"> contact number is required</span>

                </div>
                <div class="w3-group">
                    <label class="w3-label">ordering number</label>

                    <input class="w3-input w3-border" type="text" name="orderingNo" placeholder="optional" ng-model="business.orderingNo"></input>
                </div>
                <div class="w3-group">
                    <label class="w3-label">WhatsApp</label>
                    <input class="w3-input w3-border" type="text" name="whatsapp" placeholder="optional" ng-model="business.whatsapp"></input>

                </div>
                <div class="w3-group">
                    <label class="w3-label">Email</label>
                    <input class="w3-input w3-border" required name="email" type="email" placeholder="required" required ng-model="business.email">
                    <span class="error" ng-show="registerForm.email.$dirty && registerForm.email.$error.required">business email is required</span></br>
                    <span class="error" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">enter a vaild email address</span>
                </div>
                <div class="w3-group">
                    <label class="w3-label">Business Registration number</label>
                    <input class="w3-input w3-border" name="registrationNo" type="text" placeholder="optional"  ng-model="business.regID">
                </div>
                <div class="w3-group">
                    <label class="w3-label">Location</label>
                    <input class="w3-input w3-border" name="location" required type="text" placeholder="e.g Zone A (required)" required ng-model="business.location"
                        id="comment"></input>
                    <span class="error" ng-show="registerForm.location.$dirty && registerForm.location.$error.required">location of the business is required</span>
                </div>
                <div class="w3-group">
                    <label class="w3-label">Business Description</label>
                    <input class="w3-input w3-border" name="description" required type="text" placeholder="required" required ng-model="business.description"
                        id="comment"></input>
                    <span class="error" ng-show="registerForm.description.$dirty && registerForm.description.$error.required">Tell us how can you describe your business in a word or two</span>
                </div>
                </br>
                <div class="w3-group">
                <label>Select the category your business falls under: <span class="radioValue">{{business.category}}</label>
                </p>

                <md-radio-group reguired name="category" ng-model="business.category">

                    <md-radio-button value="Foo" class="md-primary">Food</md-radio-button>
                    <md-radio-button value="Clothin">Clothing</md-radio-button>
                    <md-radio-button value="Service">Services</md-radio-button>
                    <md-radio-button value="Ar">Art and Craft</md-radio-button>

                </md-radio-group>
                <span class="error" ng-show="regiserForm.category.$dirty && registerForm.category.$error.required">choose a category</span>
                </div>
                </br>
                <div class="w3-group ">
                    <label class="w3-lable"> choose your preferred view for your product or services</label>
                      <md-radio-group reguired name="view" ng-model="business.view">
        
                    <md-radio-button value="catalogue" class="md-primary">Catalogue View</md-radio-button>
                    
            
                    <md-radio-button ng-disabled="false" value="list">PriceList view</md-radio-button>
                    
                    

                </md-radio-group>
                  <span class="error" ng-show="regiserForm.view.$dirty && registerForm.view.$error.required">view preference is required</span>

                </div>



                <md-button type="submit" class="md-raised md-primary pull-right" ng-disabled="registerForm.$invalid" >FINISH</md-button>