<div class="container-fluid" style="max-width:2000px;margin:120px">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Submit Event</div>
            <div class="panel-body">

                <form name="productItem">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Event name</label>
                                <input type="text" class="form-control" placeholder="product name" required ng-model="product.name" />
                            </div>
                            <div class="form-group">
                                <label class="w3-label">description</label>
                                <textarea class="form-control" placeholder="product description" ng-model="product.description" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Date</label>
    
                                 <mdp-date-picker mdp-placeholder="Date" ng-model="currentDate"></mdp-date-picker>
                                 
                               
                            </div>
                               <div class="form-group">
                                <label>Venue</label>
                                <input type="text" class="form-control" placeholder="product name" required ng-model="product.name" />
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Please provide Event Poster</label>
                                <input type="file" nv-file-select uploader="uploader" placeholder="product image" /><br/>
                            </div>
                            <div class="form-group" ng-repeat="item in uploader.queue">
                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 200 }"></div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="30%">Name</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td ng-model="fileName">
                                                <strong>{{ item.file.name }}</strong>
                                                <!-- Image preview -->
                                                <!--auto height-->
                                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                                <!--auto width-->

                                                <!--fixed width and height -->
                                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                            </td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                          




                        </div>
                    </div>
                    <div class="w3-display-container row">
                            <md-button class="md-raised md-primary w3-right" style="margin:20px;"  ng-click="catalogueList.addCatalogueItem(product,item)">{{button}}</md-button>
                    </div>



                </form>
            
                

            </div>
           
        </div>
    </div>
  
</div>