<style>
    .radioButtondemoBasicUsage body {
        padding: 20px;
    }
    
    .radioButtondemoBasicUsage hr {
        margin-left: -20px;
        opacity: 0.3;
    }
    
    .radioButtondemoBasicUsage md-radio-group {
        width: 150px;
    }
    
    .radioButtondemoBasicUsage p:last-child {
        padding-bottom: 50px;
    }
    
    .radioButtondemoBasicUsage [ng-controller] {
        padding: 0 20px;
    }
    
    .radioButtondemoBasicUsage .radioValue {
        margin-left: 5px;
        color: #0f9d58;
        font-weight: bold;
        padding: 5px;
    }
    
    .radioButtondemoBasicUsage md-icon {
        margin: 0 20px 20px;
        width: 128px;
        height: 128px;
    }
    
    .radioButtondemoBasicUsage .ipsum {
        color: saddlebrown;
        font-size: 0.9em;
    }
</style>
<nav-bar></nav-bar>
<div  class="w3-container w3-content w3-padding-64" style="max-width:900px" id="contact">
    <h2 class="w3-wide w3-center">GET LISTED ON KASIHUB</h2>
    <p class="w3-opacity w3-center"><i>Be part of the community</i></p>
    <div class="w3-row w3-padding-32">
        <div class="w3-col m12">

            <form name="registerForm" ng-submit="addVendor(business)" novalidate>

               <div ng-include="'app/templates/forms/_businessDetailsForm.html'"></div>
            </form>
        </div>
    </div>
</div>