<section ng-controller="getListed" id="getListed">
    <div class="row nopadding">
        <div class="col-md-12 nopadding">
            <div class="head">
                <h3>- <span>DO YOU OWN A BUSINESS?</span> -</h3>
            </div>
            <!--end of head-->
            <p class="head-p">Get listed on KasiHub.
            </p>
            <div ng-controller="AuthCtrl" class="intro-contents">
                <br />
                <div style="width:70%" class="container">
                    
                    <div class="col-md-12">
                        <div class="row myborder">
                            <h4 style="color: #7EB59E; margin: initial; margin-bottom: 10px;">Sign Up Now</h4>
                            <hr>
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon"><i class="fa fa-user mycolor"></i></span>
                                <input size="60" maxlength="255" class="form-control" placeholder="email" name="UserRegistration[username]" ng-model="user.email" id="UserRegistration_username"
                                    type="text"> </div>
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon"><i class="fa fa-lock mycolor"></i></span>
                                <input size="60" maxlength="255" class="form-control" placeholder="Password" name="UserRegistration[password]" ng-model="user.password" id="UserRegistration_password"
                                    type="password"> </div>
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon"><i class="fa fa-user mycolor"></i></span>
                                <input size="60" maxlength="255" class="form-control" placeholder="First Name" name="UserRegistration[fname]" ng-model="user.name" id="UserRegistration_fname"
                                    type="text"> </div>
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon"><i class="fa fa-user mycolor"></i></span>
                                <input size="60" maxlength="255" class="form-control" placeholder="Last Name" name="UserRegistration[lname]" ng-model="user.lastname" id="UserRegistration_lname"
                                    type="text"> </div>
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon"><i class="fa fa-envelope mycolor"></i></span>
                                <input size="60" maxlength="255" class="form-control" placeholder="Address" name="UserRegistration[address]" ng-model="user.address" id="UserRegistration_address"
                                    type="text"> </div>
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon"><i class="fa fa-phone mycolor"></i></span>
                                <input size="60" maxlength="255" class="form-control" placeholder="Contact Number" ng-model="user.mobileNumber" name="UserRegistration[contactnumber]"
                                    id="UserRegistration_contactnumber" type="text"> </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn-u pull-right" ng-click="register()" type="submit">Sign Up</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <!--end of intro contents-->
            </div>
            <!--end of col-md-12-->
        </div>
        <!--end of row-->
</section>