<section id="getListed">
    <div class="row nopadding">
        <div class="head">
            <h3>- <span>Business Working Hours </span> -</h3>
        </div>
        <div class="col-md-6">

            <table class="table">
                <thead>
                    <tr>
                        <th>Opening Time</th>
                        <th>Closing Time</th>
                        <th>Days</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="workingHour in workingHours">
                        <td>

                            <strong>{{ workingHour.$value }}</strong>
                            <!-- Image preview -->
                            <!--auto height-->
                            <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                            <!--auto width-->

                            <!--fixed width and height -->
                            <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                        </td>
                        <td></td>
                        <td>
                            <div>
                                <div></div>
                            </div>
                        </td>


                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 nopadding">



            <div class="intro-contents">
                <br />
                <div style="width:70%" class="container">

                    <div class="col-md-12">
                        <div class="row myborder">
                            <h4 style="color: #7EB59E; margin: initial; margin-bottom: 10px;">Working Hours</h4>
                            <hr>
                            <div class="form-group margin-bottom-20">
                                <label>opening Time</label>
                                <input class="form-control" type="time" ng-model="workingHour.openingTime"> </div>
                            <div class="form-group margin-bottom-20">
                                <label>closing Time</label>
                                <input class="form-control" type="time" ng-model="workingHour.closingTime"> </div>
                            <div class="input-group margin-bottom-20">

                                <label>start day</label>
                                <select class="form-control" ng-model="workingHour.startDay ">      
                                            <option>monday</option>
                                            <option>Tuesday</option> 
                                            <option>Wednesday</option> 
                                            <option>Thursday</option> 
                                            <option>Friday</option>  
                                            <option>Saturday</option> 
                                            <option>Sunday</option> 
                                               <option>Public Holidays</option> 
                                        </select>
                            </div>
                            <div class="input-group margin-bottom-20">

                                <label>end day</label>
                                <select class="form-control" ng-model="workingHour.endDay">      
                                                  <option>monday</option>
                                            <option>Tuesday</option> 
                                            <option>Wednesday</option> 
                                            <option>Thursday</option> 
                                            <option>Friday</option>  
                                            <option>Saturday</option> 
                                            <option>Sunday</option> 
                                            <option>Public Holidays</option>  
                                        </select>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn-u pull-right" ng-click="addWorkingHours(workingHour)" type="submit">Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <!--end of intro contents-->
            </div>
            <!--end of col-md-12-->
        </div>
        <!--end of row-->
</section>