<section id="download">
    <div class="row nopadding">
        <div class="col-md-12 nopadding">
            <div class="head">
                <h3>- <span>GET KASIHUB</span> -</h3>
            </div>
            <!--end of head-->
            <p class="head-p">The convinient way to access and compare your community services and products.Lets support black owned businesses
                in kasi to thrive. download Kasihub .
            </p>
            <div class="download-app">
                <div class="app-screens-download">
                    <ul>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.KasiHub.k3nnet.kasihub"><img alt="playstore" src="app/images/playstore.png"></a>
                        </li>

                    </ul>
                </div>
                <!--end of app screens-->
            </div>
            <!--end of download app-->
        </div>
        <!--end of col-md-12-->
    </div>
    <!--end of row-->
</section>