<style>
  .team{
	margin-top: 40px;
}
.profile-details{
	background-color: #41d3f4;
	width: 100%;
	padding:10px;
	margin-bottom: 10px;
}
.profile-details h4{
	color: #ffffff;
	font-weight: 600;
	margin: 0;
	padding: 0;
}
.profile-details p{
	color: rgba(255,255,255,0.7);
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.profile-details ul {
	margin: 0;
	padding: 0;
	margin-top: 2px;
	float: right;
}
.profile-details li{
	margin: 0;
	padding: 0;
	padding-right: 10px;
	list-style-type: none;
	display: inline-block;
}
.profile-details li a{
	color: rgba(255,255,255,0.5);
}
</style>
<div class="container-fluid event_section">
  <h1>Upcoming Events</h1>
  <div class="team">
    <div class="col-md-4">
      <div class="team-profile">
        <img src="app/images/event_01.jpg" alt="profile" width="100%">
        <div class="profile-details">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
         <h4>Web Design Trends</h4>
        <p><span class="fa fa-map-marker"></span> New Hotel, Bangkok, Thailand &nbsp;&nbsp; <span class="fa fa-timer"></span>          5:30 PM to 8:30 PM</p>
        <p>Quisque feugiat dapibus lectus ut consectetur. Donec et ante vitae leo cursus hendrerit vitae ac mauris. Suspendisse
          dictum pretium urna quis rutrum. Nullam tincidunt dolor ut leo malesuada, eget volutpat turpis porttitor.</p>
        </div>
        <!--end of profile-details-->
      </div>
      <!--end of one profie-->
    </div>
    <!--end of col-4-->
    <div class="col-md-4">
      <div class="team-profile">
        <img src="app/images/event_02.jpg" alt="profile" width="100%">
        <div class="profile-details">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
          <h3 style="color:white"><span class="fa fa-map-marker"></span> New Hotel, Bangkok, Thailand &nbsp;&nbsp; <span class="fa fa-timer"></span>          5:30 PM to 8:30 PM</h3>
        <p>Quisque feugiat dapibus lectus ut consectetur. Donec et ante vitae leo cursus hendrerit vitae ac mauris. Suspendisse
          dictum pretium urna quis rutrum. Nullam tincidunt dolor ut leo malesuada, eget volutpat turpis porttitor.</p>
        </div>
        <!--end of profile-details-->
      </div>
      <!--end of one profie-->
    </div>
    <div class="col-md-4">
      <div class="team-profile">
        <img src="app/images/event_01.jpg" alt="profile" width="100%">
        <div class="profile-details">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
         <h4>Web Design Trends</h4>
        <p><span class="fa fa-map-marker"></span> New Hotel, Bangkok, Thailand &nbsp;&nbsp; <span class="fa fa-timer"></span>          5:30 PM to 8:30 PM</p>
        <p>Quisque feugiat dapibus lectus ut consectetur. Donec et ante vitae leo cursus hendrerit vitae ac mauris. Suspendisse
          dictum pretium urna quis rutrum. Nullam tincidunt dolor ut leo malesuada, eget volutpat turpis porttitor.</p>
        </div>
        <!--end of profile-details-->
      </div>
      <!--end of one profie-->
    </div>
    <!--end of col-4-->
    <div class="col-md-4">
      <div class="team-profile">
        <img src="app/images/event_02.jpg" alt="profile" width="100%">
        <div class="profile-details">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
          <h3 style="color:white"><span class="fa fa-map-marker"></span> New Hotel, Bangkok, Thailand &nbsp;&nbsp; <span class="fa fa-timer"></span>          5:30 PM to 8:30 PM</h3>
        <p>Quisque feugiat dapibus lectus ut consectetur. Donec et ante vitae leo cursus hendrerit vitae ac mauris. Suspendisse
          dictum pretium urna quis rutrum. Nullam tincidunt dolor ut leo malesuada, eget volutpat turpis porttitor.</p>
        </div>
        <!--end of profile-details-->
      </div>
      <!--end of one profie-->
    </div>
    <div class="col-md-4">
      <div class="team-profile">
        <img src="app/images/event_01.jpg" alt="profile" width="100%">
        <div class="profile-details">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
         <h4>Web Design Trends</h4>
        <h3 style="color:white"><span class="fa fa-map-marker"></span> New Hotel, Bangkok, Thailand &nbsp;&nbsp; <span class="fa fa-timer"></span>          5:30 PM to 8:30 PM</h3>
        <p>Quisque feugiat dapibus lectus ut consectetur. Donec et ante vitae leo cursus hendrerit vitae ac mauris. Suspendisse
          dictum pretium urna quis rutrum. Nullam tincidunt dolor ut leo malesuada, eget volutpat turpis porttitor.</p>
        </div>
        <!--end of profile-details-->
      </div>
      <!--end of one profie-->
    </div>
    <!--end of col-4-->
    <div class="col-md-4">
      <div class="team-profile">
        <img src="app/images/event_02.jpg" class="img-responsive"  alt="profile" width="100%">
        <div class="profile-details">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
           <h3 style="color:white"><span class="fa fa-map-marker"></span> New Hotel, Bangkok, Thailand &nbsp;&nbsp; <span class="fa fa-timer"></span>          5:30 PM to 8:30 PM</h3>
        <p>Quisque feugiat dapibus lectus ut consectetur. Donec et ante vitae leo cursus hendrerit vitae ac mauris. Suspendisse
          dictum pretium urna quis rutrum. Nullam tincidunt dolor ut leo malesuada, eget volutpat turpis porttitor.</p>
        </div>
        <!--end of profile-details-->
      </div>
      <!--end of one profie-->
    </div>


    <!--end of col-4-->
  </div>




</div>
