<section id="features">
    <div class="row nopadding">
        <div class="col-md-12 nopadding">
            <div class="head">
                <h3>- <span>FEATURES INSIDE</span> -</h3>
            </div>
            <!--end of head-->
            <p class="head-p">KasiHub in app features includes:
            </p>
            <div class="feature-box">
                <div class="col-md-4 nopadding">
                    <div class="feature-points">
                        <div class="one">
                            <div class="circle aa">
                                <i class="fa fa-building"></i>
                            </div>
                            <h4>BUSINESS LISTING</h4>
                            <p>find a listing of businesses around your community in one place with their listed business services
                                and products they provide.
                            </p>

                        </div>
                        <!--end of one-->
                        <div class="one">
                            <div class="circle aa">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <h4>SAVE TIME</h4>
                            <p>compare services and products in one place. save door to door trips to find services and products
                                that suits your budget.
                            </p>
                        </div>
                        <!--end of one-->
                    </div>
                    <!--end of feature-points-->
                </div>
                <!--end of col-4-->
                <div class="col-md-4 nopadding bu">
                    <div class="feature-img">
                        <center>
                            <img alt="feature" src="app/images/app-preview.png" width="70%">
                        </center>
                    </div>
                    <!--end of feature-->
                </div>
                <!--end of col-4-->
                <div class="col-md-4 nopadding">
                    <div class="feature-points">
                        <div class="one">
                            <div class="circle bb">
                                <i class="fa fa-phone"></i>
                            </div>
                            <h4>In app enquiries and order placing</h4>
                            <p>
                                you can enquire more about business services and order products from the app.business contacts also available.
                            </p>
                        </div>
                        <!--end of one-->
                        <div class="one">
                            <div class="circle bb">
                                <i class="fa fa-calendar-o"></i>
                            </div>
                            <h4>COMMUNITY BOARD & EVENTS</h4>
                            <p>online kasi board for the community where members of the community can put up ANNOUNCEMENTS,JOB
                                OPPORTUNITY,ROOMS TO LET ect.. in a form of a poster . Also up- to date listing of EVENTS
                                happening in and around kasi.
                        </div>
                        <!--end of one-->
                    </div>
                    <!--end of feature-points-->
                </div>
                <!--end of col-4-->
            </div>
            <!--end of feature box-->
        </div>
        <!--end of col-md-12-->
    </div>
    <!--end of row-->
</section>