<footer>
    <div class="row nopadding">
        <div class="col-md-12 nopadding">
            <div class="follow-us">
                <h4>GET IN TOUCH WITH US </h4>
                <p class="pull-center" style="text-align:center;color:white;"> We would like to hear from you. give us feedback and a follow on social media</p>
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class=
                              "fa fa-twitter"></i></a>
                    </li>
                    <li ng-hide="true">
                        <a href="#"><i class="fa fa-mail"></i></a>
                    </li>
                </ul>
            </div>
            <!--end of follow us-->
        </div>
        <!--end of col-md-12-->
    </div>
    <!--end of row-->
</footer>
<div class="bottom-foot">
    <p>&copy; Copyright 2018 KasiHub. All Rights Reserved. | Design <a href="#" style=" color: #41d3f4;">Mog Pro Technologies</a></p>
</div>