<section id="home">
    <div class="row nopadding">
        <div class="col-md-12 nopadding">
            <div class="app-home">
                <div class="col-md-5 nopadding">
                    <div class="app-preview">
                        <center>
                            <img alt="rightfit app preview" src="app/images/app-previewEdit.png">
                        </center>
                    </div>
                    <!--end of app preview-->
                </div>
                <!--end of col-md-7-->
                <div class="col-md-7 nopadding">
                    <div class="app-info">
                        <h1>THE APP FOR KASI PEOPLE AND SMALL BUSINESSES </h1>
                        <p>A local small businesses listing app that makes it convenient and easy to access your local community
                            businesses services and products.KasiHub is a platform for small black owned businesses to advertise
                            and market their services or product to the community .moreover its a platform to facilitate
                            supporting black owned business in order to grow the black economy but by first starting with
                            our neighbours.
                            
                        </p>
                        <div class="app-screens-download">
                            <ul>
                                <li>
                                    <a href="https://play.google.com/store/apps/details?id=com.KasiHub.k3nnet.kasihub"><img alt="playstore" src="app/images/playstore.png"></a>
                                </li>

                            </ul>
                        </div>
                        <!--end of app screens-->
                    </div>
                    <!--end of app info-->
                </div>
                <!--end of col-md-7-->
            </div>
            <!--end of app home-->
        </div>
        <!--end of col-12-->
    </div>
    <!--end of row-->

</section>