<section  id="getListed">
    <div class="row nopadding">
        <div class="col-md-12 nopadding">
            <div class="head">
                <h3>- <span>DO YOU OWN A BUSINESS?</span> -</h3>
            </div>
            
            <p class="head-p">Get listed on KasiHub.
            </p>
            <div class="intro-contents">
                <br />
                <div style="width:70%" class="container">
                    
                    <div class="col-md-12">
                        <div class="row myborder">
                            <form name="signupForm"  novalidate>
                            <h4 style="color: #7EB59E; margin: initial; margin-bottom: 10px;">Sign Up Now</h4>
                            <div ng-show="error" class="w3-panel w3-red w3-round">{{error.message}}<a ng-show="inUse" ui-sref="login" >Go Login</a></div>
                            <hr>
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon"><i class="fa fa-user mycolor"></i></span>
                                <input  type="email"  class="form-control" placeholder="email" name="email" required ng-model="user.email" id="email"
                                    type="text">  
                                    <span class="error" ng-show="signupForm.email.$dirty && signupForm.email.$invalid">Enter a valid email address</span> 
                                    </div>
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon"><i class="fa fa-lock mycolor"></i></span>
                                <input  class="form-control" ng-minlength="6" placeholder="Password" name="password" ng-model="user.password" id="UserRegistration_password"
                                    type="password"> 
                                    <span class="error" ng-show="signupForm.password.$dirty && signupForm.password.$invalid">password should be atleast six characters long</span>
                                    </div>
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon"><i class="fa fa-user mycolor"></i></span>
                                <input size="60" maxlength="255" class="form-control" placeholder="First Name" required name="fname" ng-model="user.name" id="UserRegistration_fname"
                                    type="text"><span class="error" ng-show="signupForm.fname.$dirty && signupForm.fname.$error.required">first name is required</span> </div>
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon"><i class="fa fa-user mycolor"></i></span>
                                <input size="60" required maxlength="255" class="form-control" placeholder="Last Name" name="lname" ng-model="user.lastname" id="UserRegistration_lname"
                                    type="text"><span class="error" ng-show="signupForm.lname.$dirty && signupForm.lname.$error.required" > last name is required</span> </div>
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon"><i class="fa fa-envelope mycolor"></i></span>
                                <input size="60" maxlength="255" class="form-control" placeholder="Address" name="UserRegistration[address]" ng-model="user.address" id="UserRegistration_address"
                                    type="text"> </div>
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon"><i class="fa fa-phone mycolor"></i></span>
                                <input size="60" ng-maxlength="10" required class="form-control" placeholder="Contact Number" ng-minlength="10" ng-model="user.mobileNumber" name="phone"
                                    id="UserRegistration_contactnumber" type="text"><span class="error" ng-show="signupForm.phone.$dirty && signupForm.phone.$invalid">phone number must be 10 digits long</span> </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn-u pull-right" ng-disabled="signupForm.$invalid" ng-click="register()" type="submit">Sign Up</button>
                                </div>
                            </div>
                            </form>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <!--end of intro contents-->
            </div>
            <!--end of col-md-12-->
        </div>
        <!--end of row-->
</section>