<div class="wrapper">
    <div class="sidebar" data-color="azure" data-image="assets/images/sidebar-5.jpg" >

        <div class="sidebar-wrapper">
            <div class="logo">
                <a ui-sref="home" class="simple-text">
                    KasiHub
                </a>
            </div>

            <ul class="nav">

                <li>
                    <a ui-sref="dashboard.table">
                        <i class="pe-7s-note2"></i>

                        <p>Product Table</p>
                    </a>
                </li>
                <li>
                    <a ui-sref="dashboard.profile">
                        <i class="pe-7s-user"></i>
                        <p>Business Profile</p>
                    </a>
                </li>
                <li ng-hide="true">
                    <a ui-sref="dashboard.map">
                        <i class="pe-7s-map-marker"></i>
                        <p>Maps</p>
                    </a>
                </li>
                <li>
                    <a ui-sref="dashboard.workingHours">
                        <i class="pe-7s-stopwatch"></i>
                        <p>Working Hours</p>
                    </a>
                </li>
                <li>
                    <a ui-sref="login" ng-click="logout()">
                        <i class="pe-7s-left-arrow"></i>
                        <p>Logout</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <div class="main-panel">
           <nav class="navbar navbar-default navbar-fixed" >
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationBar2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="dashboard.table">{{vendor.name}}</a>
                </div>
                <div class="collapse">
                    <ul class="nav navbar-nav navbar-left ">
                         <li>
                            <a ui-sref="dashboard.table">
                                <i class="pe-7s-note2"></i>

                                <p>Product Table</p>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="dashboard.profile">
                                <i class="pe-7s-user"></i>
                                <p>Business Profile</p>
                            </a>
                        </li>
                        <li>
                            <a ng-hide="true" ui-sref="dashboard.map">
                                <i class="pe-7s-map-marker"></i>
                                <p>Maps</p>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="dashboard.workingHours">
                                <i class="pe-7s-stopwatch"></i>
                                <p>Working Hours</p>
                            </a>
                        </li>
                        <li>
                            <a ng-click="logout()">
                                <i class="pe-7s-left-arrow"></i>
                                <p>Logout</p>
                            </a>
                        </li>
                    </ul>

                  
                </div>
            </div>
        </nav>


        <!--end of menu-->
        



        <div class="content">
            <div ui-view ng-cloak class="container-fluid">

            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
               

                <p class="copyright pull-left">
                    &copy;2018 <a href="#">Mog Pro Technologies</a>, made with love for a better kasi web experience.
                </p>
            </div>
        </footer>

    </div>
</div>