<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3> Your product list</h3> 
        </div>

        <div class="panel-body">

            <catalogue-view ng-show="view"></catalogue-view>
            <list-view ng-hide="view"></list-view>

        </div>

    </div>


</div>