<nav-bar></nav-bar>
<preview></preview>
<progress-dialog progress="true"></progress-dialog>
<features></features>
<sign-up></sign-up>
</br>
<download></download>

<social-footer></social-footer>

<!--end of feature-->