<nav-bar></nav-bar>
<div ng-controller="AuthCtrl" class="w3-display-container container-fluid">
    <div class="w3-display-middle" style="margin-top:150px;">
        <form class="form-horizontal" name="loginForm" >

            <h4 style="color: #7EB59E; margin: initial; margin-bottom: 10px; text-align:center;">Sign in Now</h4>
            <div ng-show="error" class="w3-panel w3-red w3-round">{{error.message}}</div>
            <hr>
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-user mycolor"></i></span>
                <input required class="form-control" placeholder="email" ng-model="user.email" name="email"
                    id="UserEmail" type="email">
                    <span class="error" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">please provide a valid email address</span>
            </div>
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-lock mycolor"></i></span>
                <input ng-minlength="6" class="form-control" placeholder="Password" ng-model="user.password" name="password"
                    id="UserRegistration_password" type="password">
                    <span class="error" ng-show="loginForm.password.$dirty && loginForm.password.$error.minlength">password should be at leas six characters long</span>
            </div>

        </form>
        <div class="col-md-12 w3-display-container">
            <button style="margin:40px;font-size:35px" class="btn-u w3-display-middle" ng-disabled="loginForm.$invalid" ng-click="login()" >Login</button>
        </div>
    </div>
    <div class="w3-row" style="">

    </div>
</div>

<progress-dialog></progress-dialog>