<style>
     canvas {
                background-color: #f3f3f3;
                -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
                -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
                box-shadow: 3px 3px 3px 0 #e3e3e3;
                border: 1px solid #c3c3c3;
                height: 100px;
                margin: 6px 0 0 6px;
            }
</style>

<div  class="modal fade" id="addModal"  role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Product</h4>
            </div>
            <div class="modal-body">
                <form name="productItem" ng-submit="add(product)">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Product name</label>
                                <input type="text" class="form-control" name="name" placeholder="product name" required ng-model="product.name" />
                                <span class="error" ng-show="productItem.name.$dirty && productItem.name.$error.required">Item name is required</span>
                            </div>
                            <div class="form-group">
                                <label class="w3-label">description</label>
                                <textarea required name="description" class="form-control" placeholder="product description" ng-model="product.description" rows="3"></textarea>
                                <span class="error" ng-show="productItem.description.$dirty && productItem.description.$error.required ">product description is required</span>
                            </div>
                            <div class="form-group">
                                <label>Price</label>

                                <input type="text" class="form-control" name="price" placeholder="product price" required ng-model="product.Price" />
                               
                            </div>
                              <div class="form-group">
                                <label>product Image</label>
                                <input required type="file" nv-file-select uploader="uploader" placeholder="product image" /><br/>
                            </div>
                            <div class="form-group" ng-repeat="item in uploader.queue">
                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 200 }"></div>
                                
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="30%">Name</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td ng-model="fileName">
                                                
                                                <strong>{{ item.file.name }}</strong>
                                                <!-- Image preview -->
                                                <!--auto height-->
                                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                                <!--auto width-->

                                                <!--fixed width and height -->
                                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                            </td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    
                    </div>



                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-disabled="productItem.$invalid" data-dismiss="modal" ng-click="addProduct(product)">Add Item</button>
            </div>
        </div>
    </div>
</div>