
<style>
     canvas {
                background-color: #f3f3f3;
                -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
                -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
                box-shadow: 3px 3px 3px 0 #e3e3e3;
                border: 1px solid #c3c3c3;
                height: 100px;
                margin: 6px 0 0 6px;
            }
</style>
<div >


    <div class="row">


        <div class="panel col-md-12">
            <div class="panel-heading">

            <button class="btn btn-default btn-sm" ng-click="toggles()">
                        <i class="glyphicon glyphicon-plus"></i> 
                    </button>
            </div>
            <div class="panel-body" ng-hide="toggle">
                <form ng-show="form" name="addForm" ng-submit="add(product)">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Product name</label>
                                <input type="text" class="form-control" name="name" placeholder="product name" required ng-model="product.productName" />
                                <span class="error" ng-show="addForm.name.$dirty && addForm.name.$error.required">Item name is required</span>
                            </div>
                            <div class="form-group">
                                <label class="w3-label">description</label>
                                <textarea required name="description" class="form-control" placeholder="product description" ng-model="product.productDescription"
                                    rows="3"></textarea>
                                <span class="error" ng-show="addForm.description.$dirty && addForm.description.$error.required ">product description is required</span>
                            </div>
                            <div class="form-group">
                                <label>Price</label>

                                <input type="text" class="form-control" name="price" placeholder="product price" required ng-model="product.price" />

                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>product Image</label>
                                <input required type="file" nv-file-select uploader="uploader" placeholder="product image" /><br/>
                            </div>
                            <div class="form-group" ng-repeat="item in uploader.queue">
                                
                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 200 }">
                                  
                                </div>

                                

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="30%">Name</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td ng-model="fileName">

                                                <strong>{{ item.file.name }}</strong>
                                                <!-- Image preview -->
                                                <!--auto height-->
                                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                                <!--auto width-->

                                                <!--fixed width and height -->
                                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                            </td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width':progressPercentage + '%' }"></div>
                                                </div>
                                            </td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>



                </form>
                <form id="editForm" ng-hide="form" name="editForm" ng-submit="add(editProduct)">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Edit name</label>
                                <input type="text" class="form-control" name="name" placeholder="product name" required ng-model="editProduct.productName" />
                               
                            </div>
                            <div class="form-group">
                                <label class="w3-label">description</label>
                                <textarea required name="description" class="form-control" placeholder="product description" ng-model="editProduct.productDescription"
                                    rows="3"></textarea>
                               
                            </div>
                            <div class="form-group">
                                <label>Price</label>

                                <input type="text" class="form-control" name="price" placeholder="product price" required ng-model="editProduct.price" />

                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>product Image</label>
                                <input required type="file" nv-file-select uploader="uploader" placeholder="product image" /><br/>
                            </div>
                               <div class="form-group" ng-repeat="item in uploader.queue">
                                
                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 200 }">
                                  
                                </div>

                                

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="30%">Name</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td ng-model="fileName">

                                                <strong>{{ item.file.name }}</strong>
                                                <!-- Image preview -->
                                                <!--auto height-->
                                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                                <!--auto width-->

                                                <!--fixed width and height -->
                                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                            </td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width':progressPercentage + '%' }"></div>
                                                </div>
                                            </td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-hide="edit" class="form-group">
                                
                                  <div  ><img style="height:200px" ng-src="{{editProduct.imageUrl}}"/></div>
                                 

                              
                            </div>

                        </div>

                    </div>



                </form>
                <hr>
                <button ng-show="form" type="button" class="btn btn-primary pull-right" ng-disabled="addForm.$invalid" data-dismiss="modal" ng-click="addProduct(product)">Add Item</button>
                
                <button ng-hide="form" type="button" class="btn btn-primary pull-right" ng-disabled="editForm.$invalid" data-dismiss="modal" ng-click="updateProduct(editProduct)">Update Item</button>
                <div class="text-center">
                    <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                    <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                    <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

                </div>
            </div>
            <div>
         
                <div class="w3-responsive">
                    <table class="w3-table-all w3-card-4" cellspacing="0" cellpadding="3" border="0">
                        <thead>
                          
                            <tr>
                                <th>pic</th>
                                <th>Product name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Edit</th>
                                <th>remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in products">


                                <td id="number#">
                                    <div class="w3-image"> <img src="{{product.imageUrl}}" class="img-circle" height="65" width="65" alt="Avatar"
                                        /></div>
                                </td>
                                <td id="productName">{{product.productName}}</td>
                                <td id="productDescription">{{product.productDescription}}</td>

                                <td id="productPrice">R{{product.price}}</td>
                                <td id="editProduct">
                                    <i ng-click="editItem(product)"  class="fa fa-edit"></i>
                                </td>
                                 <td id="deleteProduct">
                                    <i ng-click="removeCatalogueItem(product)"  class="fa fa-remove"></i>
                                </td>


                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>