 <i ng-click="editItem(product)" data-toggle="modal" data-target="#editModal" class="fa fa-edit"></i>
 <div    class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-dismiss="modal" ng-click="removeCatalogueItem(editProduct)" aria-label="Close" type="button" class="btn btn-default pull-right" data-dismiss="modal">  <i ng-click="editItem(product)" data-toggle="modal" data-target="#editModal" class="fa fa-trash"></i></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Item</h4>
                </div>
                <div class="modal-body">
                    <form name="productItem">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Product name</label>
                                    <input type="text" class="form-control" placeholder="Product name" required ng-model="editProduct.productName" />
                                </div>
                                <div class="form-group">
                                    <label class="w3-label">description</label>
                                    <textarea class="form-control" placeholder="product description" ng-model="editProduct.productDescription" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Price</label>

                                    <input type="text" class="form-control" placeholder="product price" required ng-model="editProduct.price" />
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>product Image</label>
                                    <input type="file" nv-file-select uploader="uploader" placeholder="product image" /><br/>
                                </div>
                                <div class=" form-group" ng-repeat="item in uploader.queue">
                                     <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 200 }"></div>

                                       <div ng-hide="uploader.isHTML5"><img  style="width:100%"  src="{{editProduct.imageUrl}}"/></div>
                                </div>
                                <div class="form-group w3-border w3-padding" >
                                 
                                </div>







                            </div>
                        </div>



                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateProduct(editProduct)">Update Item</button>
                </div>
            </div>
        </div>
    </div>