<style>
    img {
        width: 200px;
        height: 200px;
    }
</style>

<div class="w3-white" id="welcome">
    <div class="w3-container w3-center w3-padding-32" style="margin:0 -16px">
        <h1 class="w3-wide w3-center w3-text-cyan">{{business.name}} </h1>
        <h3 class="w3-wide w3-center w3-text-cyan">{{business.location}}</h3>

    </div>
</div>
<div class="w3-panel panel-default" style="margin:20px;">
    <div class="panel-heading">
        <div class="form-group">
            <label>Choose a vendor</label>
            <select class="w3-select w3-center" ng-change="productListing.chooseVendor()" ng-model="selectedVendor" ng-options="vendor.name for vendor in vendors"><select>
        </div>
        <div class="form-group">
            <p>Select category: <span class="radioValue">{{category}}</span> </p>

                    <md-radio-group ng-change="productListing.chooseCategory()" ng-model="category">

                        <md-radio-button value="Food" class="md-primary">Food</md-radio-button>
                        <md-radio-button value="Clothing">Clothing</md-radio-button>
                        <md-radio-button value="Services">Services</md-radio-button>
                        <md-radio-button value="Art">Art and Craft</md-radio-button>

                    </md-radio-group>
        </div>
    </div>
        <div class="panel-body">
            <h4>{{selectedVendor.name}}</h4>

            <form>
                <div  class="row">
                        <div ng-show="menuView" class="col-sm-12">
                            <acme-menu></acme-menu>
                         </div>
                          <div ng-show="catalogueView" class="col-sm-12">
                            <acme-catalogue></acme-catalogue>
                         </div>
                   </div>

            </form>

        </div>
    </div>
   
   
   
</div>
<div class="w3-panel">
   
</div>