<md-dialog ng-show="{{progress}}" id="plz_wait" style="box-shadow:none">
  <md-dialog-content layout="row" layout-margin layout-padding layout-align="center center" aria-label="wait">
    <md-progress-circular md-mode="indeterminate" md-diameter="50"></md-progress-circular>
    Loading...
  </md-dialog-content>
</md-dialog>