<div class="top-bar">
      <div class="logo">
            <a href="#"><img alt="rightfit" src="app/images/logo.png"></a>
      </div>
      <!--end fo logo-->
      <div class="menu" id="navigationBar">
            <ul>
                  <li>
                        <a class="a selected" data-options='{ "easing": "easeInOutQuad" }' ui-sref="home">HOME</a>
                  </li>
                  <li ng-hide="true">
                        <a class="b" data-options='{ "easing": "easeInOutQuad" }' data-scroll="" ui-sref="events">EVENTS</a>
                  </li>
                  <li ng-hide="true">
                        <a class="c" data-options='{ "easing": "easeInOutQuad" }' data-scroll="" ui-sref="board">KASIBOARD</a>
                  </li>
                  <li>
                        <a class="d" data-options='{ "easing": "easeInOutQuad" }' data-scroll="" href="#getListed">SIGNUP</a>
                  </li>
                  <li>
                        <a class="e" data-options='{ "easing": "easeInOutQuad" }' data-scroll="" ui-sref="login">LOGIN</a>
                  </li>
            </ul>
      </div>
      <!--end of menu-->
      <div class="mobile-nav">
            <a data-toggle="collapse" data-target="#navigationBar" id="mob-nav"><i class="fa fa-bars"></i></a>
      </div>
      <!--end of mobile nav-->
</div>