<style>
    img {
        width: 200px;
        height: 200px;
    }
    
    .active {
        background: #FF735C;
    }
    
    .disabled {
        background: #eee;
        color: #aaa;
    }
</style>





<div class="row" style="margin:20px">

    <div class="panel panel-default">
        <div class="panel-heading">Menu Header</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <form>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Headers</label>
                                    <select class="w3-select" ng-model="menuItem.header" ng-options="header.title for header in headers"><select>
                                </div>
                                <div class="form-group">
                                    <label>name</label>
                                    <input type="text" class="form-control" placeholder="product name" required ng-model="menuItem.name" />
                                </div>
                                <div class="form-group">
                                    <label class="w3-label">description</label>
                                    <textarea class="form-control" placeholder="product description" ng-model="menuItem.description" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="text" class="form-control" placeholder="product price" required ng-model="menuItem.price" />
                                </div>
                                <button type="button" ng-click="menuList.addMenuItem(menuItem)" ng-disabled="item.isReady || item.isUploading || item.isSuccess" class="btn btn-info w3-right">Add Menu item</button>
                            </div>

                        </div>

                        </form>
                </div>
                <div class="col-sm-6">

                    <form name="productItem">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>header name</label>
                                    <input type="text" class="form-control" placeholder="Header" required ng-model="menuHeader.title" />
                                </div>
                                <p>{{title}}</p>
                                <button type="button" ng-click="menuList.addMenuHeader(menuHeader)" ng-disabled="item.isReady || item.isUploading || item.isSuccess"
                                    class="btn btn-info">Add Menu Header</button>

                            </div>

                        </div>




                    </form>
                </div>

            </div>

        </div>
    </div>

</div>
<br>






<div class="container-fluid" ng-show="true" style="max-width:2000px;margin:20px">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading" >
                <h3> Your menu list</h3>
            </div>
            <div class="panel-body">
                <table class="w3-table w3-striped w3-bordered w3-borderS" cellspacing="0" cellpadding="3" border="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Product name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Header</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="header in headers">
                        <tr ng-repeat="menuItem in header.childList">
                            <td id="number#">{{}}
                            </td>
                            <td id="productName">{{menuItem.name}}</td>
                            <td id="productDescription">{{menuItem.description}}</td>
                            <td id="productPrice">{{menuItem.price}}</td>
                            <td>{{header.title}}</td>
                            <td id="editProduct"><i class="fa fa-edit"></i></td>
                        </tr>

                    </tbody>
                </table>

            </div>
            <ul uib-pagination total-items="bigTotalItems" ng-change="nextPage()" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true"></ul>

        </div>




    </div>
</div>