<div class="row">

   


    <div class="col-md-8">
 <div class="author">
                                     <a >
                                    <img class="avatar border-gray"  ng-src="{{logo.url}}" alt="logo"/>

                                      <h4 class="title">Logo<br />
                                         <small>upload your logo</small>
                                      </h4>
                                    </a>
                                </div>
        <div >
            <div class="header">
                <h4 class="title">Edit Profile</h4>
            </div>
            <div class="content">
                <form name="registerForm" novalidate>
                    <div ng-show="error" class="w3-panel w3-red w3-round">{{error.message}}</div>
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-half">
                            <label class="w3-label">Business Name</label>
                            <input class="w3-input w3-border" disabled type="text" name="name" placeholder="{{vendor.name}}"  ng-model="editBusiness.name">
                          
                        </div>
                        <div ng-hide="true" class="w3-half">
                            <label class="w3-label">Address</label>
                            <textarea class="w3-input w3-border" name="address" placeholder="{{vendor.address}}" ng-model="editBusiness.address" rows="5" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="w3-group">
                        <label class="w3-label">Mobile number</label>
                        <input class="w3-input w3-border" name="mobileNo" type="text" placeholder="{{business.phone}}"  ng-model="editBusiness.phone"
                        />
                       
                    </div>
                    <div class="w3-group">
                        <label class="w3-label">ordering number</label>

                        <input class="w3-input w3-border" type="text" name="orderingNo" placeholder="{{vendor.orderNo}}" ng-model="editBusiness.orderingNo"></input>
                    </div>
                    <div class="w3-group">
                        <label class="w3-label">WhatsApp</label>
                        <input class="w3-input w3-border" type="text" name="whatsapp" placeholder="{{vendor.whatsapp}}" ng-model="editBusiness.whatsapp"></input>

                    </div>
                    <div class="w3-group">
                        <label class="w3-label">Email</label>
                        <input class="w3-input w3-border"  name="email" type="email" placeholder="{{vendor.email}}" required ng-model="editBusiness.email">
                        
                    </div>
                    <div class="w3-group">
                        <label class="w3-label">Business Registration number</label>
                        <input class="w3-input w3-border" name="registrationNo" type="text" placeholder="{{vendor.regNo}}" ng-model="editBusiness.regID">
                    </div>
                    <div class="w3-group">
                        <label class="w3-label">Location</label>
                        <input class="w3-input w3-border" name="location"  type="text" placeholder="{{vendor.location}}"  ng-model="editBusiness.location"
                            id="comment"></input>
                       
                    </div>
                    <div class="w3-group">
                        <label class="w3-label">Business Description</label>
                        <input class="w3-input w3-border" name="description"  type="text" placeholder="{{vendor.description}}"  ng-model="editBusiness.description"
                            id="comment"></input>
                       
                    </div>
                    </br>
                    <div class="w3-group">
                        <label>Select the category your business falls under: <span class="radioValue">{{vendor.category}}</label>
                        </p>

                        <md-radio-group  name="category" ng-model="editBusiness.category">

                            <md-radio-button value="Food" class="md-primary">Food</md-radio-button>
                            <md-radio-button value="Clothing">Clothing</md-radio-button>
                            <md-radio-button value="Services">Services</md-radio-button>
                            <md-radio-button value="Art">Art and Craft</md-radio-button>

                        </md-radio-group>
                      
                    </div>
                    </br>
                     <div class="col-sm-6">
                            <div class="form-group">
                                <label>Logo</label>
                                <input type="file" nv-file-select uploader="uploader" placeholder="product image" /><br/>
                            </div>
                            <div class="form-group" ng-repeat="item in uploader.queue">
                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 200 }"></div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="30%">Name</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td ng-model="fileName">
                                                <strong>{{ item.file.name }}</strong>
                                                <!-- Image preview -->
                                                <!--auto height-->
                                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                                <!--auto width-->

                                                <!--fixed width and height -->
                                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                            </td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right"  ng-click="updateProfile(editBusiness)">UPDATE</button>


                          




                        </div>
                    <div ng-hide="true" class="w3-group ">
                        <label class="w3-lable"> choose your preferred view for your product or services</label>
                        <md-radio-group  name="view" ng-model="editBusiness.view">

                            <md-radio-button value="catalogue" class="md-primary">Catalogue View</md-radio-button>


                            <md-radio-button value="list">PriceList view</md-radio-button>



                        </md-radio-group>
                       
                    </div>
          
                    <div class="clearfix"></div>



                   

                </form>
            </div>
        </div>
    </div>
    
 

</div>