/*css created by themeswild.com*/
/*-------------------------------------------------*/
/*---------------general settings-----------------*/
/*-----------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.bg {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}
ul,
li,
p,
h1,
h2,
h3,
h3,
h4,
h5,
h6,
{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul li {
    list-style-type: none;
}
.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}
/*-------------------------------------------------*/
/*--------------------Top bar---------------------*/
/*-----------------------------------------------*/

.top-bar {
    height: 80px;
    background-color: #ffffff;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding: 0 5%;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 3px;
}
.top-bar .logo {
    padding: 18px 0;
}
.top-bar .logo img {
    width: 180px;
}
.top-bar .menu {
    position: absolute;
    right: 5%;
    top: 0;
}
.top-bar .menu ul {
    margin: 0;
    padding: 0;
}
.top-bar .menu ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
    padding: 0px 0;
    padding-left: 25px;
}
.top-bar .menu ul li a {
    display: block;
    padding: 30px 20px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    text-decoration: none;
}
.top-bar .menu ul li a:hover {
    color: #41d3f4;
}
a.selected {
    color: #41d3f4 !important;
}
/*-------------------------------------------------*/
/*--------------------Home Section----------------*/
/*-----------------------------------------------*/

.content-box {
    margin-top: 80px;
}
section#home {
    position: relative;
}
.app-home {
   
    background-image: url(../images/brick-wall-dark.png);
    background-repeat: repeat;
    background-attachment: fixed;
    padding: 5%;
    height: calc(100vh - 80px);
}
.app-preview {
    padding: 0 10%;
}
.app-preview img {
    width: 63%;
}
.app-info {
    padding-top: 5%;
}
.app-info h1 {
    color: #ffffff;
    font-weight: 900;
    color: #ffffff;
    font-size: 40px;
    text-shadow: rgba(0, 0, 0, 0.1) 2px 4px 0px;
    padding-left: 0;
    margin-left: 0;
}
.app-info .app-screens-download {
    padding-top: 30px;
}
.app-info .app-screens-download ul {
    clear: both;
    text-align: left;
}
.app-info p {
    font-size: 20px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.9);
    width: 90%;
    padding-left: 0;
    margin-left: 0;
}
.app-download-home {
    height: 20vh;
    padding-top: 2.7%;
}
.app-download-home ul {
    margin: 0;
    padding: 0;
    clear: both;
    text-align: center;
    right: 0;
    left: 18%;
    position: absolute;
}
.app-download-home ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
}
.app-download-home ul li a {} .app-download-home ul li a img {
    width: 250px;
    opacity: 0.5;
}
.app-download-home ul li a:hover img {
    opacity: 0.8;
}
/*-------------------------------------------------*/
/*--------------------Intro Section---------------*/
/*-----------------------------------------------*/

section#intro {
    padding: 5%;
}
.head {} .head h3 {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    padding: 0;
    margin: 0;
       color: #ffffff;

    padding: 10px;
    padding-bottom: 20px!important;
}
.head h3 span {
    background-color: 41d3f4;
    padding: 10px;
        color: #41d3f4;
 
}
p.head-p {
    padding-top: 40px;
    font-size: 17px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.intro-contents {
    padding-top: 50px;
}
.box {
    padding: 20px 50px;
}
.circle {
    height: 70px;
    width: 70px;
    background-color: #41d3f4;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 2.4px;
}
.box .line {
    height: 85px;
    margin: 0 auto;
    width: 85px;
    border-radius: 100%;
    border: solid 5px #41d3f4;
}
.circle i {
    color: #ffffff;
    font-size: 30px;
    display: block;
    text-align: center;
    padding-top: 26%;
}
.box h4 {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.65);
    font-size: 23px;
}
.box p {
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}
/*-------------------------------------------------*/
/*--------------------How It Section--------------*/
/*-----------------------------------------------*/

section#how {
    padding: 5%;
    background-color: #f3f3f3;
}
.three-steps-how {} .three-steps-how .one {
    padding: 30px;
    margin-top: 90px;
}
.three-steps-how .one img {
    width: 100%;
}
.three-steps-how .one h4 {
    font-size: 25px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    padding: 0 15px;
}
.three-steps-how .one p {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    text-align: justify;
    padding: 0 15px;
}
.three-steps-how-img {
    height: 70vh;
    margin: 50px;
    margin-bottom: 0;
    overflow: hidden;
}
.three-steps-how-img img {
    width: 100%;
}
/*-------------------------------------------------*/
/*--------------------Demo Section----------------*/
/*-----------------------------------------------*/

section#demo {
    background-color: #555;
    padding: 3% 5%;
    background-image: url(../images/brick-wall-dark.png);
    background-repeat: repeat;
}
section#demo h4 {
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}
section#demo a {
    border: solid 3px #ffffff;
    color: #41d3f4;
    height: 80px;
    width: 80px;
    display: block;
    border-radius: 100%;
    font-size: 30px;
}
section#demo a i {
    padding-top: 29%;
    padding-left: 5px;
}
section#demo2 {
    background-color: #41d3f4;
    padding: 3% 5%;
    background-image: url(../images/brick-wall-dark.png);
    background-repeat: repeat;
}
section#demo2 h4 {
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}
section#demo2 a {
    background-color: #ffffff;
    color: #41d3f4;
    height: 80px;
    width: 80px;
    display: block;
    border-radius: 100%;
    font-size: 30px;
}
section#demo2 a i {
    padding-top: 29%;
    padding-left: 5px;
}
/*-------------------------------------------------*/
/*--------------------Feature Section-------------*/
/*-----------------------------------------------*/

section#feature {
    padding: 5%;
}
.feature-box {
    padding-top: 40px;
}
.feature-box .one {
    padding: 20px;
    margin-top: 17%;
}
.feature-box .one h4 {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #41d3f4;
    text-transform: uppercase;
}
.feature-box img {
    padding-top: 10%;
}
.feature-box .one p {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
/*-------------------------------------------------*/
/*--------------------Download Section-------------*/
/*-----------------------------------------------*/

section#download {
    padding: 5%;
    background-color: #f3f3f3;
}
.download-app {
    padding-top: 30px;
}
.app-screens-download {
    padding-top: 0px;
}
.app-screens-download ul {
    margin: 0;
    padding: 0;
    clear: both;
    text-align: center;
}
.app-screens-download ul li {
    list-style-type: none;
    display: inline-block;
}
.app-screens-download ul li a {} .app-screens-download ul li a img {
    width: 200px;
}
.app-screens-download p {
    font-weight: 600;
    text-align: justify;
    color: rgba(0, 0, 0, 0.6);
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 17px;
}
/*-------------------------------------------------*/
/*--------------------Dooter Section-------------*/
/*-----------------------------------------------*/

footer {
    padding: 5%;
    background-color: #444;
    background-image: url(../images/brick-wall-dark.png);
    background-repeat: repeat;
}
.follow-us {} .follow-us ul {
    margin: 0;
    padding: 0;
    clear: both;
    text-align: center;
}
.follow-us ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}
.follow-us ul li a {
    font-size: 25px;
    color: #41d3f4;
    height: 60px;
    width: 60px;
    display: block;
    border: solid 3px #ffffff;
    border-radius: 100%;
}
.follow-us ul li a i {
    padding-top: 27%;
}
.follow-us h4 {
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}
.bottom-foot {
    background-color: #333;
    padding: 1% 5%;
}
.bottom-foot p {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}
::-moz-selection {
    /* Code for Firefox */
    
    color: #ffffff;
    background: #41d3f4;
}
::selection {
    color: #ffffff;
    background: #41d3f4;
}
a.design {
    color: #81C784;
}
/*-------------------------------------------------*/
/*--------------------get listed form-------------*/
/*-----------------------------------------------*/
    .mycolor{
            color : #41d3f4;
        }        
        .myborder{
            padding: 20px;;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: 0px 0px 3px 0px#41d3f4;
            -moz-box-shadow:    0px 0px 3px 0px #41d3f4;
            box-shadow:         0px 0px 3px 0px #41d3f4;
        }
        .mybutton{
            position: relative;
            left: 50%;
            top: 193px;

        }
        .margin-bottom-20 {
            margin-bottom: 20px;

        }
        .btn-u:hover {
            background: #41d3f4;
        }
        .btn-u:hover, .btn-u:focus, .btn-u:active, .btn-u.active, .open .dropdown-toggle.btn-u {
            background: #41d3f4;
        }
        .btn-u:hover {
            color: #fff;
            text-decoration: none;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        .btn-u {
            background: #41d3f4;
        }
        .btn-u {
            white-space: nowrap;
            border: 0;
            color: white;
            font-size: 14px;
            cursor: pointer;
            font-weight: 400;
            padding: 6px 13px;
            position: relative;
            background: #41d3f4;
            display: inline-block;
            text-decoration: none;
        }
        .input-group-addon {
            border-right: 0;
            /*color: #b3b3b3;*/
            font-size: 14px;
            background: #fff;
            padding: 6px 12px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: #555;
            text-align: center;
            background-color: #eee;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .input-group .form-control {
            float: left;
            width: 100%;
            margin-bottom: 0;
        }
        .form-control {
            box-shadow: none;
        }
        .form-control {
            display: block;
            width: 100%;
            height: 34px !important;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #41d3f4!important;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
        .error{
            color: red;
        }